@using Microsoft.AspNetCore.Identity
@{
    Layout = "~/Views/Shared/_Layout_Admin_Page.cshtml";
}
@model IEnumerable<ApplicationUserRole>
@{
    ViewData["Title"] = "List Users";
}


<div class="content">
    <h3>@ViewData["Title"]</h3>
    <a asp-action="CreateUser" class="btn btn-primary btn-sm mb-3">Create New User</a>
    <div class="table-container">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Email</th>
                        <th>Password</th>
                        <th>Role</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        @foreach (var user in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(model => user.User.Email)</td>
                                <td>@Html.DisplayFor(model => user.User.PasswordHash)</td>
                                <td>@Html.DisplayFor(model => user.Role.Name)</td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@user.User.Id" class="btn btn-primary btn-sm">Detail</a>
                                    <a asp-action="Edit" asp-route-id="@user.User.Id" class="btn btn-success btn-sm">Edit</a>
                                    <a asp-action="Delete" asp-route-id="@user.User.Id" class="btn btn-danger btn-sm">Delete</a>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="4">Users not available</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
</div>